.tema-chiaro{
  --ElementsNavbarBackgroundColor: #fcfcfc;
  --CardTextColor: black;
  --DomandaBackgroundColor: #f8f9fa;
  --DomandaBackgroundColorFocus: #f1f3f4;
}
.tema-scuro{
  --ElementsNavbarBackgroundColor: #1f1f1f;
  --CardTextColor: white;
  --DomandaBackgroundColor: #1b1e1f;
  --DomandaBackgroundColorFocus: #1F2223;
}
/***********************************************/
/*           NAVBAR DEI COMPONENTI             */
/***********************************************/
#Elements-navbar{
  min-height: 50px;
  background-color: var(--ElementsNavbarBackgroundColor);
}
nav#Elements-navbar{
  padding-left: 9.6vw!important;
  padding-right: 9.4vw!important;
  background-color: var(--ElementsNavbarBackgroundColor);
}
#Elements-navbar p{
  color: var(--NavbarTextColor);
  margin-bottom: 0px;
}
#Elements-navbar a{
  padding-left: 0px;
}
/***********************************************/
/*          STILE DashboardQuestionari         */
/***********************************************/
.card .card-body, .card .card-footer{
  background-color: var(--CardBackgroundColor);
}
.TestoNormale, .card-text{
  color: var(--CardTextColor);
  margin-bottom: 0px;
}
/***********************************************/
/*            STILE Container            */
/***********************************************/
.container-fluid.ContenutoPagina-Q{
  margin-top: 16px;
  padding-left: 24vw !important;
  padding-right: 24vw !important;
}
/***********************************************/
/*                  STILE HTML                 */
/***********************************************/
p, .fc-toolbar-title{
  color: var(--CardTextColor);
}
.modal-content{
	background-color: var(--CardBackgroundColor);
}
.card{
	background-color: var(--CardBackgroundColor);
}
.medicina{
  font-size: smaller;
}
.impostazioni{
  border-radius: 50px;
}
input[type=password], input[type=text]{
	background-color: var(--CardBackgroundColor);
	color: var(--CardTextColor);
  height: 48px;
  padding: 10px 12px 10px;
}
/***********************************************/
/*                  COLORI VOTI                */
/***********************************************/
.bg-ING{ background-color: #FF6384!important; }
.bg-STO{ background-color: #36A2EB!important; }
.bg-ITA{ background-color: #DC3545!important; }
.bg-MAT{ background-color: #FFC107!important; }
.bg-GPO{ background-color: #007BFF!important; }
.bg-INF{ background-color: #FF9F40!important; }
.bg-SIS{ background-color: #17A2B8!important; }
.bg-TPS{ background-color: #FF6384!important; }
.bg-MOT{ background-color: #FFCC99!important; }
.bg-ING-border{ border: 1px solid rgba(255, 99, 132, 0.2)!important; }
.bg-STO-border{ border: 1px solid rgba(54, 162, 235, 0.2)!important; }
.bg-ITA-border{ border: 1px solid rgba(220, 53, 69, 0.2)!important; }
.bg-MAT-border{ border: 1px solid rgba(255, 193, 7, 0.2)!important; }
.bg-GPO-border{ border: 1px solid rgba(0, 123, 255, 0.2)!important; }
.bg-INF-border{ border: 1px solid rgba(255, 159, 64, 0.2)!important; }
.bg-SIS-border{ border: 1px solid rgba(23, 162, 184, 0.2)!important; }
.bg-TPS-border{ border: 1px solid rgba(255, 99, 132, 0.2)!important; }
.bg-MOT-border{ border: 1px solid rgba(255, 204, 153, 0.2)!important; }
/***********************************************/
/*                MEDIA QUERIES                */
/***********************************************/
@media (max-width: 768px){
  /* Navbar */
  nav#Elements-navbar{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}